<div class="container">

    <header>
    </header>


    <br>

    <div>
        <fieldset>
            <legend>Suggested product for {{ category }}</legend>
            <ul ng-repeat="suggestion in suggestions">

                <li>
                    <fieldset>
                        <legend>{{suggestion.name}}</legend>
                        <ul>
                            <li>url : {{suggestion.url}}</li>
                            <li>comment:{{suggestion.comment}}</li>
                            <li>email:{{suggestion.email}}</li>
                        </ul>
                    </fieldset>
                </li>
            </ul>
        </fieldset>
    </div>

    <div class="footer">
        <p>&copy; Steve Lemanski & Maurin Lenglart</p>
    </div>


    <!-- /container -->
</div>